@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0e0e10;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #10b981;
  --sb-size: 15px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 17px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 17px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.comment-sidebar {
  --sb-track-color: #232e33;
  --sb-thumb-color: #6baf8d;
  --sb-size: 6px;
}

.comment-sidebar::-webkit-scrollbar {
  width: var(--sb-size);
}

.comment-sidebar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 9px;
}

.comment-sidebar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 9px;
}

@supports not selector(::-webkit-scrollbar) {
  .comment-sidebar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
